/* ELEMENTS*/

body {
    background-color: D6EFD8;
    padding: 15px;
    margin: 15px;
}
hr {
    border-style: dotted none none;
    height: 0px;
    width: 20%;
    border-color: grey;
    border-width: 5px;
    width: 5%;
    text-transform: uppercase;
}
h1{color: #1A5319;
    font-family: "century gothic";
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;

}

h3 {color: 1A5319;
    font-family: "century gothic";
    font-size: 20px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

p, header, a, li, table, caption, form {
    font-family: "century gothic";
    color: #1A5319;
    text-transform: uppercase;
}

ol {
    font-family: "century gothic";
    color: #1A5319;
    text-transform: uppercase;
    position: relative;
    left: 140px;
    width: 20%;
}

input[type=text], input[type=email], textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "century gothic";
    text-transform: uppercase;
  }

  button {
    width: 100%;
    background-color: #508D4E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "century gothic";
    text-transform: uppercase;
  }
  
  button:hover {
    background-color: #1A5319;
  }

  .texassite {
    position: absolute;
    left: 1100px;
    top: 200px;
}

.austinsite, .bmtsite, .houstonsite {
  margin: auto;
  left: 800px;
  top: 35px;
}



/*ASIDE*/

aside {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid; 
    border-width: 1px;
    margin: 10px;
    padding: 10px;
}

/*TABLE*/

table {
    position: relative;
    float: right;
    border: 1px solid;
    width: 25%;
    right: 100px;
    bottom: 150px;
    
}

th, td {
    border: 1px solid;
    width: 25%; 
}

/*NAV*/

nav {
    position: absolute;
    top: 12%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

nav a {
    color: #1A5319;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: underline;
  }

.home:hover, .austin:hover, .beaumont:hover, .houston:hover, .contact:hover {
    font-weight: bold;
    color: #1A5319;
}

  
/*LISTS*/

.ul {
    text-decoration-line: underline;
    position: relative;
    left: 100px;
   
}

#ul2 {
    text-decoration-line: underline;;
}

.todo {
    position: relative;
    left: 1300px;
    bottom: 100px;
    
}

.todotitle {
    position: relative;
    left: 1325px;
    bottom: 120px;
    font-weight: bold;
}

.bmtinfo {
    position: relative;
    top: 50px;
}

/*IMAGES*/


.bluebonnets {
    display: block;
    width: 100%;
    height: auto;
    
 }
 
.flag {
    display: block;
    width: 30%;
    height: auto;
    position: relative;
    float: right;
    bottom: 750px;
    right: 350px;
 }

.austinsky {
    position: relative;
    width: 40%;
    height: auto;

 }

.austinsky2 {
    position: relative;
    height: 60%;
    width: auto;
    right: 100px;
    float: right;
 }

.beaumontimg {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  float: right;
  left: 1000px;
  bottom: 600px;
}

.gusher {
  display: block;
  position: relative;
  width: 70%;
  height: auto;
  top: 100px;
}

.houstonsky {
    display: block;
    position: relative;
    width: 90%;
    height: auto;
}
 
.nasa {
    display: flex;
    width: 40%;
    height: auto;
    position: relative;
    float: right;
    bottom: 700px;
    right: 100px;

}

.bonnetoverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1A5319;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }


.bonnettext {
    white-space: wrap; 
    color: #D6EFD8;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: "century gothic";
    text-transform: uppercase;
  }

.bonnetcontainer {
    position: relative;
    width: 50%;
  }
 

.bonnetcontainer:hover .bonnetoverlay {
    height: 100%;
  }


  .gusheroverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100px;
    background-color: #1A5319;
    overflow: hidden;
    width: 70%;
    height: 0;
    transition: .5s ease;
  }


.gushertext {
    white-space: wrap; 
    color: #D6EFD8;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: "century gothic";
    text-transform: uppercase;
  }

.gushercontainer {
    position: relative;
    width: 50%;
  }
 

.gushercontainer:hover .gusheroverlay {
    height: 100%;
  }

.houstonoverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1A5319;
    overflow: hidden;
    width: 90%;
    height:0;
    transition: .5s ease;
  }


.houstontext {
    white-space: wrap; 
    color: #D6EFD8;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: "century gothic";
    text-transform: uppercase;
  }

.houstoncontainer {
    position: relative;
    width: 50%;
  }
 

.houstoncontainer:hover .houstonoverlay {
    height: 100%;
  }





  /*
.nasaoverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1A5319;
    overflow: hidden;
    width: 50%;
    height:0;
    transition: .5s ease;
  }


.nasatext {
    white-space: wrap; 
    color: #D6EFD8;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: "century gothic";
    text-transform: uppercase;
  }

.nasacontainer {
    position: relative;
    width: 50%;
  }
 

.nasacontainer:hover .nasaoverlay {
    height: 62%;
  } 
  
  */
  


 /* colors: https://colorhunt.co/palette/d6efd880af81508d4e1a5319 */

 /* nav: https://codepen.io/WhisnuYs/pen/XWdpdGP */